
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
    background-color: #eee;
}

.bdg {
    width: 60px;
    height: 25px;
}
 
#title {
    font-family: 'Marcellus', serif;
}


.custom {

    width: 70px!important;

}